@{
    Page.Title = "Title goes here";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form>
        <div>
            <label class="form-contorl">Title</label>
            <h1>This is the title of this item.</h1>
        </div>
    </form>
</div>