@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET MVC architecture with SQL Server</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("trader index","Index","testing")</h2>
        <p>MVC CRUDD operations</p>
    </div>
    <div class="col-md-4">
       <h2>@Html.ActionLink("item_table","Index","item_table")</h2>
       <p>MVC CRUDD operations</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("item_table","Index","item_table")</h2>
        <p>MVC CRUDD operations</p>
    </div>
</div>